<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pedidos</servlet-name>
        <servlet-class>Servlets.Pedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subasta_Transporte</servlet-name>
        <servlet-class>Servlets.Subasta_Transporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subasta_Interna</servlet-name>
        <servlet-class>Servlets.Subasta_Interna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subastas_Externas</servlet-name>
        <servlet-class>Servlets.Subastas_Externas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ofertas</servlet-name>
        <servlet-class>Servlets.Ofertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Solicitudes</servlet-name>
        <servlet-class>Servlets.Solicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cerrar_Session</servlet-name>
        <servlet-class>Servlets.Cerrar_Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pagos</servlet-name>
        <servlet-class>Servlets.Pagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transportes</servlet-name>
        <servlet-class>Servlets.Transportes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pedidos</servlet-name>
        <url-pattern>/app/Pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subasta_Transporte</servlet-name>
        <url-pattern>/app/Subasta_Transporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subasta_Interna</servlet-name>
        <url-pattern>/app/Subasta_Interna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subastas_Externas</servlet-name>
        <url-pattern>/app/Subastas_Externas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ofertas</servlet-name>
        <url-pattern>/app/Ofertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Solicitudes</servlet-name>
        <url-pattern>/app/Solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cerrar_Session</servlet-name>
        <url-pattern>/app/Cerrar_Session</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Filtro</filter-name>
        <!-- mandatory -->
        <filter-class>Servlets.Filtro</filter-class>
        <!-- mandatory -->
    </filter>
    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <!-- mandatory -->
        <url-pattern>/app/*</url-pattern>
        <!-- either url-pattern or servlet-name is mandatory -->
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>Pagos</servlet-name>
        <url-pattern>/app/Pagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transportes</servlet-name>
        <url-pattern>/app/Transportes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/Login.html</welcome-file>
    </welcome-file-list>
</web-app>
